variables:
  GIT_STRATEGY: fetch
  GIT_SUBMODULE_STRATEGY: recursive
  DOCKER_FILE: tests/Dockerfile
  DOCKER_TAG: ${CI_COMMIT_REF_NAME}
  DOCKER_IMAGE_DEV: rpclib

stages:
    - prepare
    - test

# Build docker image
prepare:centos8:docker-dev:
  stage: prepare
  script:
    - docker build
        --file ${DOCKER_FILE}
        --tag ${DOCKER_IMAGE_DEV}:${DOCKER_TAG}
        --tag ${DOCKER_IMAGE_DEV}:latest .
  tags:
    - docker

# Parser Unit-Tests
test:unit:
  needs: ["prepare:centos8:docker-dev"]
  image: ${DOCKER_IMAGE_DEV}:${DOCKER_TAG}
  script:
    - cd rpc-lib-impl && cargo test --workspace
  tags:
    - docker

# Rpc-Lib Integration Tests
test:integration:
  stage: test
  needs: ["prepare:centos8:docker-dev"]
  image: ${DOCKER_IMAGE_DEV}:${DOCKER_TAG}
  script:
    - rpcbind
    - cd tests/server/ && mkdir gen && cd gen && cp ../../test.x .
    - rpcgen -N test.x -a && rm -f Makefile.test && rm -f test_server.c && mv ../Makefile . && mv ../test_server.c .
    - make test_server && mv test_server .. && cd ..
    - ./test_server & 
    - sleep 1 && rpcinfo
    - cd ../..
    - cargo test --tests
  tags:
    - docker
